In [ ]:
import pandas as pd

In [ ]:
#https://www.kaggle.com/sumanthvrao/daily-climate-time-series-data
dados = pd.read_csv('datasets_312121_636393_DailyDelhiClimateTrain.csv')

In [ ]:
dados

In [ ]:
dados.head()

In [ ]:
dados.tail()

In [ ]:
#criando uma coluna de datas
#https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases

datas = pd.date_range(start = '01-01-2013', end = '01-01-2017', freq='D')

In [ ]:
datas

In [ ]:
datas_series = pd.Series(pd.to_datetime(datas))

In [ ]:
datas_series

In [ ]:
 
datas_comerc = pd.bdate_range(start = '01-01-2013', end = '01-01-2017')

In [ ]:
datas_comerc_series = pd.Series(pd.to_datetime(datas_comerc))

In [ ]:
datas_comerc_series.head(30)

In [ ]:
#https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
datas_series.dt.strftime("%d/%m/%Y")

In [ ]:
dados.dtypes

In [ ]:
pd.to_datetime(dados['date'], format='%Y/%m/%d')

In [ ]:
pd.to_datetime(dados['date'])

In [ ]:
dados['date'] = pd.to_datetime(dados['date'])

In [ ]:
dados['date']

In [ ]:
dados.dtypes

In [ ]:
#usando a data como index
dados.set_index('date', inplace=True)

In [ ]:
dados

In [ ]:
#mostrando os valores de index
dados.index.year

In [ ]:
dados.index.month

In [ ]:
dados.index.weekday

In [ ]:
#obtendo dados de uma determinada data
dados.loc['2016-12-28']

In [ ]:
#obtendo dados de um intervalo de datas
dados.loc['2016-01-01': '2016-01-30']

In [ ]:
#buscando de um ano
dados.loc['2016']

In [ ]:
#buscando de um mês
dados.loc['2016-12']

#### Vizualização

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sns.set(rc={'figure.figsize':(12, 4)})

In [ ]:
dados['humidity'].plot()

In [ ]:
cols_plot = dados.columns
dados[cols_plot].plot( figsize=(16, 10), subplots=True);

In [ ]:
#plot de um determinado ano
ax = dados.loc['2016', 'meantemp'].plot()
ax.set_ylabel('Temp Mean');

In [ ]:
#mais detalhes de determinado periodo
ax = dados.loc['2016-01':'2016-02', 'meantemp'].plot(marker='o', linestyle='-')
ax.set_ylabel('Temp Mean');

In [ ]:
m_m = dados['meantemp'].rolling(window=7).mean()
m_std = dados['meantemp'].rolling(window=7).std() 

orig = plt.plot(dados['meantemp'], color='blue',label='Temp')
mean = plt.plot(m_m, color='red',label='Média')
std = plt.plot(m_std, color='black',label='Desvio')
plt.legend(loc='best')
plt.show()